<h3 data-i18n="How to start chatting?">How to start chatting?</h3>
<ol>
    <li>
        <span data-i18n="Click _space">Click </span>
        <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
            <i class="fa-solid fa-plug"></i>
            <span data-i18n="API Connections">API Connections</span>
        </button>
        <span data-i18n="and connect to an">and connect to an API</span>.
    </li>
    <li>
        <span data-i18n="Click _space">Click </span>
        <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
            <i class="fa-solid fa-address-card"></i>
            <span data-i18n="Character Management">Character Management</span>
        </button>
        <span data-i18n="and pick a character."> and pick a character.</span>
    </li>
</ol>

<div>
    <span data-i18n="You can add more">You can add more</span>
    <button class="open_characters_library menu_button menu_button_icon inline-flex">
        <i class="fa-solid fa-image-portrait"></i>
        <span data-i18n="Sample characters">Sample characters</span>
    </button>
    <span data-i18n="or;or_welcome">or</span>
    <button class="external_import_button menu_button menu_button_icon inline-flex">
        <i class="fa-solid fa-cloud-arrow-down"></i>
        <span data-i18n="Import Characters">Import characters</span>
    </button>
    <span data-i18n="from other websites">from other websites.</span>
</div>
<div>
    <span data-i18n="Go to the">Go to the</span>

    <i data-i18n="Download Extensions & Assets">Download Extensions & Assets</i>
    <span data-i18n="menu within">menu within</span>

    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="extensions-settings-button">
        <i class="fa-solid fa-cubes"></i>
        <span data-i18n="Extensions">Extensions</span>
    </button>

    <span data-i18n="to install additional features.">to install additional features.</span>
</div>

<h3 data-i18n="Need help?">Need help?</h3>
<ul>
    <li>
        <span data-i18n="Enter">Enter </span><code>/?</code><span data-i18n="in the chat bar"> in the chat bar</span>
    </li>
</ul>
